/* src/styles/Hero.css */

.hero {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/mentor-connect-74cc5.appspot.com/o/Hero.png?alt=media&token=aa24b32b-338a-4dc4-8eec-45a00be7fc77');
}

@media (max-width: 1024px) {
  .hero {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/mentor-connect-74cc5.appspot.com/o/Hero(tablet).png?alt=media&token=41571eb1-d6c3-42c5-9b3b-13f5f24aa946');
  }
}

@media (max-width: 768px) {
  .hero {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/mentor-connect-74cc5.appspot.com/o/Hero(mobile).png?alt=media&token=dcd23918-bb21-4b2c-9d18-e055a2947006');
  }
}
